{{ 'megamenu-type-1.css' | asset_url | stylesheet_tag }}

<div class="menu__image--wrapper">
  <div class="image__block">
    <a href="{{ block.settings.button_url }}">
      {% if block.settings.image != blank %}
        {{ block.settings.image | image_url: width: original | image_tag }}
      {% endif %}
      <div class="h6 block__image--title">{{ block.settings.title }}</div>
      <div class="block__image--text">{{ block.settings.text }}</div>
      <div class="btn btn--solid-border btn--primary block__image--button" aria-label="{{ block.settings.button_text }}">
        <span>{{ block.settings.button_text }}</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none">
          <path d="M13.1509 18.8224L21.9091 10.0449L13.1509 1.26733C13.0718 1.16377 12.9713 1.07836 12.8562 1.01689C12.7411 0.955414 12.6141 0.919312 12.4838 0.911023C12.3535 0.902735 12.223 0.922455 12.101 0.968848C11.979 1.01524 11.8684 1.08722 11.7768 1.17992C11.6851 1.27262 11.6145 1.38387 11.5697 1.50615C11.5249 1.62842 11.507 1.75886 11.5172 1.88863C11.5274 2.01841 11.5654 2.14449 11.6287 2.25834C11.692 2.37219 11.7791 2.47115 11.8841 2.54853L18.4368 9.13624L1.00231 9.13623C0.760595 9.13623 0.528785 9.23197 0.357872 9.40237C0.186956 9.57278 0.0909363 9.80389 0.0909363 10.0449C0.0909363 10.2859 0.186956 10.517 0.357872 10.6874C0.528785 10.8578 0.760595 10.9535 1.00231 10.9535L18.4368 10.9535L11.8841 17.5412C11.7136 17.7123 11.6184 17.9439 11.6193 18.1851C11.6201 18.4262 11.717 18.6571 11.8886 18.827C12.0602 18.9969 12.2925 19.0918 12.5343 19.091C12.7762 19.0901 13.0078 18.9935 13.1782 18.8224L13.1509 18.8224Z" fill="currentColor"></path>
        </svg>
      </div>
    </a>
  </div>
  <div class="grid{% if dropdown_alignment == 'center' %} grid--center{% endif %} menu_wrapper">
    <div class="grid__item medium-up--one-quarter">
      {%- assign animation_column = animation_column | plus: 1 -%}
  
      {%- for childlink in link.links -%}
        {%- liquid
          assign create_new_column = false
  
          if childlink.levels > 0 and forloop.index != 1
            assign create_new_column = true
          endif
  
          if childlink.levels == 0 and previous_column_type == 'full'
            assign create_new_column = true
          endif
        -%}
  
        {%- if create_new_column -%}
          </div><div class="grid__item medium-up--one-quarter">
          {%- assign animation_column = animation_column | plus: 1 -%}
        {%- endif -%}
  
        {%- if childlink.levels > 0 and childlink.url contains '/collections/' -%}
          {%- if collections[childlink.object.handle].image != blank and section.settings.mega_menu_images -%}
            <a href="{{ childlink.url }}">
              <div class="svg-mask svg-mask--landscape">
              {%- render 'image-element',
                img: collections[childlink.object.handle].image,
                sizeVariable: '20vw',
                alt: collections[childlink.object.handle].title,
                classes: 'megamenu__collection-image',
              -%}
              </div>
            </a>
          {%- endif -%}
        {%- endif -%}
  
        <div class="h5 site-nav__headings">
          {% if childlink.url == '#' %}
            <div class="site-nav__dropdown-link site-nav__dropdown-link--top-level">{{ childlink.title }}</div>
          {% else %}
            <a href="{{ childlink.url }}" class="site-nav__dropdown-link site-nav__dropdown-link--top-level">{{ childlink.title }}</a>
          {% endif %}
        </div>

  
  
        {%- liquid
          if childlink.levels > 0
            assign previous_column_type = 'full'
          else
            assign previous_column_type = 'single'
          endif
        -%}
  
        {%- for grandchildlink in childlink.links -%}
          <div>
            <a href="{{ grandchildlink.url }}" class="site-nav__dropdown-link">
              {{grandchildlink.title}}
            </a>
          </div>
        {%- endfor -%}
      {%- endfor -%}
    </div>
  </div>
</div>